id: '4fb37884-3147-4d09-bfeb-e236130994bb'
version: 'v2'
name: 'jiang_spring'
apptype: 'api'
language: 'java'
containerName: 'jiangspring'
toolchain:
  id: '58f1613b8ef1e700214218c8'
  name: 'Qubeship-Java-Toolchain'
opinion:
  id: '58f54fb2e936e0000e151352'
  name: 'Omar slack opinion'
endpoint:
  id: '58f16141238503000b74d7bf'
  name: 'Qubeship Sandbox Cluster'
  type: 'target'
variables:
- name: 'APP_VERSION'
  value: 'v0.1'
build:
  compile:
    publish:
    - target/
bake:
  skip: false
test:
  skip: true
deploy_to_qa:
  skip: true
deploy_to_prod:
  skip: false
